.navbar{ background:#023f20;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #1f582d; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
    justify-content: flex-end;
   }
   .header{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
* {box-sizing:border-box}

 .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 .mySlides {
   display: none;
 }
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active, .dot:hover {
   background-color: #717171;
 }
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .3}
   to {opacity: 1}
 }
 .about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color: #1f582d;;
    margin: 2em;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }
   .portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio table.caption{
    color: #1f582d;;
    margin: 2em; 
   }
   .team{
    margin: 4em 0;
    position: relative;  
   }
   .team h1{
    color: #1f582d;;
    margin: 2em; 
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #668f5dea;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
   }
   .team .item:hover .des {
    height: 100%;
    background: #00f9157d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}
   .contact-form{
    margin: 6em 0;
    position: relative;  
   }
   
   .contact-form h1{
    padding:2em 1px;
    color:  #1f582d;; 
   }
   .contact-form .right{
    max-width: 600px;
   }
   .contact-form .right .btn-secondary{
    background:   #1f582d;;
    color: #fff;
    border:0;
   }
   .contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }
   @import url('https://fonts.googleapis.com/css?family=Raleway');
   html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }